<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <th>Name</th>
            <th>Description</th>
            <th><button ng-click="model.create()">Create</button></th>
            </thead>
            <tbody>
            <tr ng-repeat="category in model.categories">
                <td><input ng-model="category.name" placeholder="name"></td>
                <td><input ng-model="category.description" placeholder="description"></td>
                <td><button ng-click="model.remove($index)">Remove</button></td>
                <td><button ng-click="model.update($index)">Update</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>