<div class="container-fluid">
    <h1><input ng-model="model.recipe.title"></h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <th>Step</th>
            <th><button ng-click="model.add()">Add item</button></th>
            </thead>
            <tbody>
            <tr ng-repeat="step in model.recipe.steps">
                <td><input ng-model="step.description" placeholder="item"></td>
                <td><button ng-click="model.remove($index)">Remove</button></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button ng-click="model.update()">Save</button>
</div>