<div class="container-fluid">
    <h1><input ng-model="model.recipe.title"></h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <th>Step</th>
            <th>
                <button ng-click="model.add()">Add item</button>
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="step in model.recipe.steps">
                <td><input ng-model="step.description" placeholder="item"></td>
                <td>
                    <button ng-click="model.remove($index)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <th>Item name</th>
                <th>Quantity</th>
                <th>
                    <button ng-click="model.addIngredient()">Add item</button>
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="item in model.recipe.ingredients">
                    <td><input ng-model="item.name" placeholder="item"></td>
                    <td><input ng-model="item.quantity" placeholder="quantity"> <input ng-model="item.unit"
                                                                                       placeholder="unit"></span></td>
                    <td>
                        <button ng-click="model.removeIngredient($index)">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <th>Category</th>
                </thead>
                <tbody>
                <tr ng-repeat="item in model.recipe.categories">
                    <td>{{item.name}}</td>
                    <td>
                        <button ng-click="model.removeCategory($index)">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <input ng-model="model.newCat" placeholder="New Category">
            <button ng-click="model.addCategory()">Add category</button>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <th>Shares</th>
                </thead>
                <tbody>
                <tr ng-repeat="item in model.recipe.shared">
                    <td>{{item.username}}</td>
                    <td>
                        <button ng-click="model.removeShare($index)">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <input ng-model="model.newShare" placeholder="New Share">
            <button ng-click="model.addShare()">Add share</button>
        </div>
    </div>

    <button ng-click="model.update()">Save</button>
</div>